/*Stylesheet calculator 05.05.2018 */

body {
  margin: 0 auto;
}

#wrapper {
  width: 350px;
  height: 550px;
  background-color: #6c6f6c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border-radius: 20px;
}

.display {
  position: relative;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background-color: #6dc066;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  text-align: right;
  padding-right: 4px;
}

#displaySmall {
  width: inherit;
  height: 50px;
  box-sizing: border-box;
  border-bottom: none;
  line-height: 50px;
}

#displayBig {
  width: inherit;
  height: 50px;
  box-sizing: border-box;
  border-top: none;
  font-size: 2.3em;
  line-height: 50px;
}

#keyboard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: stretch;
}

button {
  background-color: #a0a39e;
  border: none;
  font-size: 3.6em;
  color: white;
  font-weight: bold;
}

#enter {
  grid-column: 4;
  grid-row: 4 / span 2;
}

#plus {
  grid-column: 4;
  grid-row: 2 / span 2;
}

#zero {
  grid-column: 1 / span 2;
  grid-row: 5;
}
